body {
  background-color: #0e0e0e;
  font-family: sans-serif;
  color: #eee;


}

.content {
  max-width: 1100px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;

  background: #161616;
}

.top-content {
  text-align: center;
  padding-top: 10px;

}


.table-of-contents {
  display: flex;
}

.column {
  flex: 50%;
  max-width: 300px;
}

.footer-text {
  font-size: 0.76em;
  color: #555;
}

.news {
  background-color: #111;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  font-size: 0.9em;
}

p {

}

h1, h2, h3 {
  color: #fcebb8
}

strong {
  color: #d79f55
}

kbd {
  background-color: rgb(60, 60, 60);
  font-family: sans-serif;
  border-radius: 2px;
  font-size: 0.85em;
  color: #EEE;
  padding: 0px;
  padding-left: 3px;
  padding-right: 3px;

}

a {
  color: #7FFFD4;
}

.tip {
  color: #0ba781;
  padding-top: 1px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-left: 10px;

  background-color: #222;

}

.badge {
  margin-left: 3px;
  margin-right: 3px;
}

.contents-link {
  margin-right: 5px;
  margin-left: 5px;
}

a.out-contents-link {
  color: #ed683b;
}

a.out-contents-link2 {
  color: #f7e843;
}

.title-box {
  margin: auto;
  width: 55%;
  padding-left: 0px;
  margin-bottom: -22px;
  margin-top: -11px;
  display: inline-block;


}

.title-text {
  float: left;
  padding-left: 25px;
  padding-top: 35px;
}


#tmb-icon {
  float: left;
  margin-top: 20px;

}


#main-head, #subtitle {
  color: #eee;
  text-align: left;
}

#main-head {
  margin-bottom: 0px;
}

#subtitle {
  margin-bottom: 25px;
}

#subtitle {
  font-size: 1.2em;
}

#manual {
  padding-top: 20px;
}

#main-screen {
  padding-top: 7px;
}
